.category-card
{
	background-color: #1e293b;
	padding: 1rem;
	border-radius: 12px;
	cursor: pointer;
	color: white;
}

.progress-bar
{
	height: 10px;
	background-color: #334155;
	border-radius: 999px;
	margin-top: 1rem;
	overflow: hidden;
}

.progress-fill
{
	height: 100%;
	background-color: #3b82f6;
}

.category-buttons
{
	display: flex;
	gap: 1rem;

	margin-top: 1rem;
}

.category-buttons button
{
	flex: 1;

	padding: 0.7rem;

	border: none;
	border-radius: 8px;

	cursor: pointer;
}