.expense-item
{
	background-color: var(--text);
	padding: 0.5rem 2rem;
	border-radius: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--background);
}

.expense-details
{
	display: flex;
	align-items: center;
	gap: 1rem;
}

.expense-date
{
	font-size: 0.9rem;
	color: var(--details);
}

.expense-buttons
{
	display: flex;
	gap: 1rem;
}

.expense-buttons button
{
	background-color: var(--text);
	padding: 0.5rem 0.65rem;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	fill: var(--background);

	&:hover
	{
		background-color: var(--accent);
		fill: var(--text);
	}
}